@import "variables";
    .b-header {
               background-color: $color-red;
               padding: 10;
               min-height:40px;
               color: $color-white;
               
        .navbar {
               background-color: $color-red;
               padding: 10;
               min-height:40px;
               color: $color-white;      
        }
    }
    