$color-red: #EF3E42;
$color-blue: #332982;
$color-gray: #777;
$color-grey: #f2f2f2;
$color-white:#fff;
$color_black:#000;
$mt:14%;
$panding:45px;
$margin:40px;
$mb:10px;

$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Open Sans Condensed', sans-serif;

$font-size-h1: 28px;
$font-family-h1: $font-family-primary;
$font-weight-h1: 80;

$font-size-h2: $font-size-h1 /2;
$font-family-h2: $font-family-secondary;
$font-weight-h2: bold;